.container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: min-content;
  width: 100%;
  margin-top: 150px;;
}
.btn {
  display: flex;
  justify-content: center;
  margin: 20px 20px 20px 20px;
}

.btn button {
  justify-content: center;
  border-style: none;
  height: 30px;
  padding: 5px 10px;
  border-radius: 5px;
  background: #487bd9;
  color: #fff;
  font-size: 1em;
}
