.card {
  flex: 1;
   border-radius: 12px 12px 12px 12px;
}

.card_deck {
  justify-content: center;
}

.card img {
  max-width: 80px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card p{
  color: #dbb300;
  font-weight: bold;
}

.card .price{
  font-weight: 700;
}

.card button{
  padding: 16px 50px;
  margin: 0px;
  background-color: #487bd9;
  border-radius: 12px 12px 12px 12px;
  border: none;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.card button:hover {
  background-color: #c03792;
}